In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings

In [3]:
#Llamado al 
data_salaries = pd.read_csv('https://raw.githubusercontent.com/ramssrez/proyectoDevF/master/data_cleaned_2021.csv')

In [4]:
data_salaries

     index                                          Job Title  ... seniority_by_title Degree
0        0                                     Data Scientist  ...                 na      M
1        1                          Healthcare Data Scientist  ...                 na      M
2        2                                     Data Scientist  ...                 na      M
3        3                                     Data Scientist  ...                 na     na
4        4                                     Data Scientist  ...                 na     na
..     ...                                                ...  ...                ...    ...
737    950           Sr Scientist, Immuno-Oncology - Oncology  ...                 sr      M
738    951                               Senior Data Engineer  ...                 sr     na
739    952  Project Scientist - Auton Lab, Robotics Institute  ...                 na      P
740    953                               Data Science Manager  ...                 na     na
741    955          Research Scientist – Security and Privacy  ...                 na      M

[742 rows x 42 columns]